.nav{
  grid-area: n;
  background-color: lightcyan;
  padding: 20px;
  border-right: 4px solid #E9BCB7;
  margin-right: 3px;
}

.item a {
  color: black;
  text-decoration: none;
  padding-bottom: 10px;
}

.item .activeLink {
  color: orchid;
}