.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogs-items {
  padding: 10px;
}  

a.active {
  color: gold;
}

.dialog {
  border: 1px solid grey;
  padding: 10px;
}

.messages {
  
}

.message {
  padding: 10px;
  border-bottom: 1px solid white; 
  color: #fff;
  background: blue;
}